/* starcode-version-3.0 =) embed data-starData attr {from connectedHtml} */

/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');
/*Main Title*/
body[data-starData='body-']{font-family:'Ubuntu', sans-serif;  justify-content:center;}

h2[data-starData='h2-1'] {
	text-align: center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.overlay {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::selection {
  color: #ffffff;
  background: #222;
}

.vl {
  border-left: 5px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 270px;
}

h1[data-starData='h1-1'] {
	text-align: center;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}

a[data-starData='a'] {
    color:#0000b3;
    text-align: center;
    font-size:20px;
    text-decoration:none;
}

#toolbar {
	margin-right:-8px;
	margin-left: 4.5px;
	margin-top:-8px;
	background-image:none;
	background-color:#ccc;
	background-size: cover;
	height:42px;
	z-index:0;
	max-width:100%;
}

.dropbtn {
  background-color: #ccc;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: -8px;
  padding-top: 10px;
  font-size: 16px;
  border: none;
  margin-left:-10px;
  margin-top:-10px;
  height:52px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  z-index: 1;
  margin-left: -10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.a {
  margin-left:0%;
  color: black;
  text-align: center;
  padding: 11px;
  text-decoration: none;
  font-size: 26px;
  border-radius: 5px;
  font-size: 25px;
    background-color: #ddd;
}

.a:hover {
  background-color: #bbb;
  color: black;
}

/*overlay*/
.overlay { 
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  text-align:center;
  top: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  overflow: auto;
  transition: 1s;
}

.overlay-content {
  position: relative;
  top: 2%;
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

.overlay a {
	padding-left:8px;
	padding-right:8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.5s;
  top:0px;
  cursor: pointer;
}

.overlay p {
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block; 
}
.overlay a:hover, .overlay a:focus {
  color: #ffffff;
}

.overlay .closebtn {
  margin-top:20px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay p {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.canvasmargin {
	margin-left:12%;
}

@media screen and (max-width: 600px) {
  #resetButton {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .canvas {
  	margin-left:0;
  }
}

#body {
	  transition: margin-left 1s;
}
